<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
  </head>
  <style>
    body {background-color: #fffae8;}

    .topnav {
      background-color: #fddb45;
      background-image: linear-gradient(#ff961d, #fddb45);
      overflow: hidden;

    }

    .topnav a {
      float: left;
      color: #000000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 16px;
    }

    .topnav a:active {
        background-color: #ffe986;
    }


    input[type=text]:focus {
        border: 3px solid #0c0a0a;
    }   

    label {
        width: 80px;
        display: inline-block;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    #id_title {
        width: 200px;
    }

  </style>
  <body>
    <div class="topnav">
      <a href="/lab-4">Home</a>
      <a class="active" href="add-note">Add Note</a>
      <a href="note-list">Note List</a>
    </div>
    <form action=""
    method=POST>
    <table>
        {% csrf_token %}
        
        {{ form }}
    </table>
        <input type="Submit" value="Submit" style="width: 100px; margin-left:200px">
    </form>
  </body>
</html>