<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Notes</title>
    <style>
    
    body {background-color: #fffae8;}

    .topnav {
      background-color: #fddb45;
      background-image: linear-gradient(#ff961d, #fddb45);
      overflow: hidden;

    }

    .topnav a {
      float: left;
      color: #000000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 16px;
    }

    .topnav a:active {
        background-color: #ffe986;
    }


    table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
    }
  
    table {
      font-size: 1rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    td {
      text-align: center;
    }

    th {
      background-color: #ff961d;
    }

    tr:nth-child(odd) {background-color: #fbffd5;}

    tr:nth-child(even) {background-color: #fffda0}

    tr:hover {background-color: #b7b99e;}
    
  </style>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/lab-4">Home</a>
      <a href="add-note">Add Note</a>
      <a href="note-list">Note List</a>
    </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for note in notes %}   
      <tr>
        <td>{{ note.recipient }}</td>
        <td>{{ note.sender }}</td> 
        <td>{{ note.title }}</td>
        <td style= "width:400px;">{{ note.message }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>