<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <style>

    html {
        font-size: 15px;
    }

    body {
        background-color: #fffae8;
    }

    .topnav {
      background-color: #fddb45;
      background-image: linear-gradient(#ff961d, #fddb45);
      overflow: hidden;

    }

    .topnav a {
      float: left;
      color: #000000;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 16px;
    }

    .topnav a:active {
        background-color: #ffe986;
    }

    .card { 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 4, 0.9);
        background-color: #fffb28;
        padding: 16px;
        margin-bottom: 16px;
    }

    .row {
        float: left;
        padding: 0 10px;
    }

    .column {
        float: left;
        padding: 0 20px;
    }


    .container {
        line-height: 20px;
    }

</style>
  </head>
  <body>
    <div class="topnav">
        <a href="/lab-4">Home</a>
        <a href="add-note">Add Note</a>
        <a class="active" href="note-list">Note List</a>
      </div>
   <div class="row">
    {% for note in notes %}  
    <div class="column">
    <div class="card">
      <div class="container">
        <h1>To: {{note.recipient}}</h1>       
        <h2>From: {{note.sender}}</h2>
        <h3>Title: {{note.title}}</h3>
        <p>{{note.message}}</p>
      </div>
    </div>
    </div>
    {% endfor %}
   </div>
  </body>
</html>